.wrapper {
    display: flex;
    min-height: 100vh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container {
    top: 60px;
    bottom: 0px;
    min-height: 100vh;
    max-width: 100dvw;
    display: grid;
    grid-template-columns: 1.5fr 8fr;
}
.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
