.wrapper {
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container {
    top: 60px;
    bottom: 0px;
    min-height: calc(100vh - 60px);
    max-width: 100dvw;
    display: grid;
    grid-template-columns: 1.5fr 8fr;
}
.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
@media (max-width: 768px) {
    .wrapper {
        height: 100dvh;
        width: 100dvw;
    }
    .container {
        top: 0;
        height: 100%;
        width: 100%;
    }
}
